<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img class="main-logo" src="/styles/photos/favicon.ico" alt="logo" />
        <span>taskSphere</span>
      </div>
      <div class="nav-links">
        <a href="/dashboard">Dashboard</a>
        <a href="/personal">Personal</a>
        <a href="/work">Work</a>
        <a href="/completed">Completed</a>
      </div>
    </div>
  </body>
</html>
