/* Navbar Styling */
.navbar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #3772ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
}

.navbar-logo span {
  font-size: 1rem;
}

/* Nav Links Styling */
.nav-links {
  display: flex;
  gap: 0.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
